[buildout]
develop = .
parts = casperjs python

[casperjs]
recipe = gp.recipe.phantomjs

[tox]
recipe = gp.recipe.tox

[python]
recipe = zc.recipe.egg
interpreter = python
eggs = gp.recipe.phantomjs
       nose
       mock